In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import numpy as np
from tabulate import tabulate
from pydataset import data 
from math import sqrt 
from env import host, user, password, get_db_url
url = f'mysql+pymysql://{user}:{password}@{host}/employees'
import tensorflow as tf
import tensorflow_probability as tfp
tfd = tfp.distributions
import tfplot
import os
import acquire

In [ ]:

iris_df = pd.read_csv (r'/Users/christophercurran/codeup-data-science/classification-exercises/iris.csv')
print(iris_df.head(3))
print('number of rows and columns:',iris_df.shape)
print('column names:', iris_df.columns)
print('data type:', iris_df.columns.dtype)
print(iris_df.describe())

In [ ]:
url = 'https://docs.google.com/spreadsheets/d/18FOmTMu95L3R_PfcPICXyn1aU6iS1eX_VThGUBjYTcc/export?format=csv#gid=1023018493'

df_google_sheets = pd.read_csv(url)
df_google_sheets_sample = pd.read_csv(url).head(101)

In [ ]:
print(df_google_sheets.shape)
print(df_google_sheets.dtypes)
print(df_google_sheets.columns[:5])
# print only data types selected in columns
print(list(df_google_sheets.select_dtypes(['object']))) 
print(df_google_sheets.select_dtypes(['number']).apply(lambda col: col.max() - col.min()))

Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). 

Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [ ]:
df_excel = pd.read_excel (r'/Users/christophercurran/codeup-data-science/classification-exercises/innis_spreadsheet_exercises.xlsx')
df_excel_sample = pd.read_excel (r'/Users/christophercurran/codeup-data-science/classification-exercises/innis_spreadsheet_exercises.xlsx').head(101)

In [ ]:
print(df_excel.shape)
print(df_excel.dtypes)
print(df_excel.columns[:5])
print(tabulate(df_excel.select_dtypes(['object']), headers = 'keys', tablefmt = 'psql'))
print(df_excel.select_dtypes(['number']).apply(lambda col: col.max() - col.min()))

Read the data from this google sheet into a dataframe, df_google

In [ ]:
df_google = pd.read_csv(r'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv#gid=341089357')
print(df_google.head(3))
print(df_google.shape)
print(df_google.columns)
print(df_google.dtypes)
print(df_google.select_dtypes(['number']).apply(lambda col: col.max() - col.min()))
print(df_google.select_dtypes(['object']).apply(lambda col: col.unique().tolist()))

In [ ]:
print(df_google.nunique())

# Data Preparation Exercises

# Using the Iris Data

In [ ]:
iris_df = get_iris_data()
iris_df

In [ ]:
columns_to_drop = ['species_id','measurement_id']
iris_dropped = iris_df.drop(columns = columns_to_drop)
iris_dropped.head()

In [ ]:
iris_rename = iris_dropped.rename(columns={'species_name': 'species'})
iris_rename.head()

In [ ]:
iris_rename.describe()

In [ ]:
dummy_iris = pd.get_dummies(iris_df[['species_name']], dummy_na = False ,drop_first = [True, True])
df_iris = pd.concat([iris_rename, dummy_iris], axis=1)
df_iris

In [ ]:
df = acquire.get_iris_data()

In [ ]:

def prep_iris(df):
    df = df.drop(columns = ['species_id','measurement_id'])
    dummy_df = pd.get_dummies(df[['species_name']], dummy_na = False , drop_first = [True, True])
    df = pd.concat([df, dummy_df], axis=1)
    return df.rename(columns={'species_name': 'species'})

In [ ]:
iris_clean = prep_iris(df)
iris_clean

# Using the Titanic dataset

In [ ]:
titanic_df = acquire.get_titanic_data()
titanic_df.head()

In [ ]:
titanic_df.drop_duplicates(inplace=True)

In [ ]:
titanic_df = titanic_df.drop(columns=['deck', 'age', 'embarked', 'class'])

In [ ]:
titanic_df.shape

In [ ]:
titanic_df.embark_town.fillna(value='Southampton')

In [ ]:
titanic_df.isnull().sum()

In [ ]:
dummy_df = pd.get_dummies(titanic_df[['sex', 'embark_town']], dummy_na = False ,drop_first = [True, True])
dummy_df

In [ ]:
df = pd.concat([titanic_df, dummy_df], axis=1)
df

In [ ]:
df.drop(columns=['sex', 'embark_town'])

In [ ]:
df = acquire.get_titanic_data()

In [ ]:
def prep_titanic(df):
    df = df.drop_duplicates()
    df = df.drop(columns=['deck', 'embarked', 'class', 'age'])
    df['embark_town'] = df.embark_town.fillna(value='Southampton')
    dummy_df = pd.get_dummies(df[['sex', 'embark_town']], drop_first=[True,True])
    df = pd.concat([df, dummy_df], axis=1)
    return df.drop(columns=['sex', 'embark_town'])

In [ ]:
clean_titanic_data_v1 = prep_titanic(df)
clean_titanic_data_v1

# Using the Telco dataset

In [3]:
df = acquire.get_telco_data()

Reading from csv file...

In [4]:
df.dtypes

payment_type_id               int64
contract_type_id              int64
internet_service_type_id      int64
customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
paperless_billing            object
monthly_charges             float64
total_charges                object
churn                        object
internet_service_type        object
contract_type                object
payment_type                 object
dtype: object

In [5]:
df_drop = df.drop(df.columns.difference(['gender', 'customer_id', 'payment_type_id', 'monthly_charges', 'total_charges', 'tenure','contract_type_id', 'internet_service_type_id']), axis=1)

In [6]:
df_drop

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,tenure,monthly_charges,total_charges
0,2,2,1,0002-ORFBO,Female,9,65.60,593.3
1,2,1,1,0003-MKNFE,Male,9,59.90,542.4
2,1,1,2,0004-TLHLJ,Male,4,73.90,280.85
3,1,1,2,0011-IGKFF,Male,13,98.00,1237.85
4,2,1,2,0013-EXCHZ,Female,3,83.90,267.4
...,...,...,...,...,...,...,...,...
7038,2,2,1,9987-LUTYD,Female,13,55.15,742.9
7039,1,1,2,9992-RRAMN,Male,22,85.10,1873.7
7040,2,1,1,9992-UJOEL,Male,2,50.30,92.75
7041,2,3,1,9993-LHIEB,Male,67,67.85,4627.65
7042,1,3,1,9995-HOTOH,Male,63,59.00,3707.6

In [ ]:
df_drop.isnull().sum()