In [21]:
import pandas as pd
from sklearn.metrics import confusion_matrix
import numpy as np
import yellowbrick
from yellowbrick.datasets import load_bikeshare
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from yellowbrick.classifier import ConfusionMatrix
from yellowbrick.regressor import ResidualsPlot
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import os
from pandas import read_csv

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |


    In the context of this problem, what is a false positive?
    In the context of this problem, what is a false negative?
    How would you describe this model?

dog was predicted but it was actually cat

dog predicted but it was acturally cat 

It a ML predictor regarding image id.

3

In [24]:
filename = r'/Users/christophercurran/codeup-data-science/classification-exercises/c3.csv'

df = pd.read_csv(filename)
df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [51]:
# Calling DataFrame constructor  
data = {'actual':['dog','cat'], 'prediction_dog':[46,13], 'prediction_cat':[7,34]}
df = pd.DataFrame(data)
df

  actual  prediction_dog  prediction_cat
0    dog              46               7
1    cat              13              34

In [ ]:
positive = 'dog'

def caluclate_precision(predictions, positive='dog'):
    return prediction_score(df.actual, predictions, pos_label=positive)

pd.concat([
    df.loc[:, 'model1':'baseline'].apply(caluclate_recall).rename('recall'),
    df.loc[:, 'model1':'model4'].apply(lambda pred: precision_score(df.actual, pred, pos_label=positive)),
    ], axis=1)

In [ ]:
from sklearn.metrics import classification_report

x = classification_report(df.actual, df.model, labels=['Cat', 'dog'], output_dict=True)

pd.DataFrame(x).transpose()

In [37]:
TP = 46
TN = 34
FP = 13
FN = 7

accuracy = (TP + TN) / (TP + TN + FP + FN)
accuracy

0.8

In [38]:
precision = TP / (TP + TN)
precision

0.575

In [39]:
recall = TP / (TP + FN)
recall

0.8679245283018868

In [50]:
df.actual dog.value_counts()

SyntaxError: invalid syntax (2766790879.py, line 1)